@model DocuSign.CodeExamples.Rooms.Controllers.Eg05GetRoomsWithFiltersController

<h4>5. Gets filtered rooms.</h4>
<p>
    This example returns rooms by filter
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms: GetRooms</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg05GetRoomsWithFiltersController.cs</a> on GitHub.
</p>

<partial name="Shared/GetFilteredRoomsView" model="Model.RoomFilterModel" />
