@model DocuSign.CodeExamples.Admin.Controllers.Eg02CreateActiveCLMESignUserController

<h4 id="example02">2. Create a new user with an active status for CLM and eSignature</h4>
<p>
    Demonstrates how to create a new DocuSign user (valid for both CLM and eSignature APIs) and activate their account automatically.
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/updateclickwrapversion/">ClickWraps::updateClickwrapVersion</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg02CreateActiveCLMESignUserController.cs</a> on GitHub.
</p>

@if (ViewBag.ClickwrapId != null) {
<p>
    Uses the clickwrap that was created in the first step.
</p>

<form class="eg" asp-action="Activate" method="post" data-busy="form">
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


} else { 
<p>
    Problem: please first create a clickwrap using <a href="Eg01">example 1.</a> <br />
    Thank you.
</p>

<form class="eg" action="Eg01" method="get">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
} 
