<h4 id="example08">8. <a asp-action="Get" asp-controller="Eg08GrantOfficeAccessToFormGroup" asp-area="Rooms">Grants office access to a form group</a></h4>
<p>
    This is an example of granting office access to a form group
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/offices/offices/getoffices/">Offices: GetOffices</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups/">FormGroups: GetFormGroups</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/grantofficeaccesstoformgroup/">FormGroups: GrantOfficeAccessToFormGroup</a>.
</p>