@model DocuSign.CodeExamples.Rooms.Models.RoomFilterModel
 
<h4>Getting rooms by filter</h4>
<p>
    Please select start date filter and end date filter
</p>
<form class="eg" asp-action="ExportData" method="post" data-busy="form">
    <div class="form-group">
        <label asp-for="FieldDataChangedStartDate">Start Date</label>
        <input type="date" class="form-control" asp-for="FieldDataChangedStartDate" value="@Model.FieldDataChangedStartDate.ToString("yyyy-MM-dd")" required>
    </div>
    <div class="form-group">
        <label asp-for="FieldDataChangedEndDate">End Date</label>
        <input type="date" class="form-control" asp-for="FieldDataChangedEndDate"value="@Model.FieldDataChangedEndDate.ToString("yyyy-MM-dd")" required>
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 