<h4 id="example001">5. <a asp-action="Get" asp-controller="Eg05GetRoomsWithFilters" asp-area="Rooms">Get filtered rooms </a></h4>
<p>
    This example returns rooms by filter
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms: GetRooms</a>.
</p>