<h4>29. Apply a brand to an envelope</h4>
<p>
    This example creates an envelope using any of the created brands on your account. The envelope includes a PDF document. Anchor text
    (<a href="https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/tabs/auto-place/">AutoPlace</a>)
    is used to position the signing fields in the documents.
</p>

@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
}

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg025ApplyBrandToEnvelopeController.cs</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="signerEmail">Signer Email</label>
        <input type="email" class="form-control" id="signerEmail" name="signerEmail"
               aria-describedby="emailHelp" placeholder="pat@example.com" required
               value="@ViewBag.Locals.DsConfig.SignerEmail">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="signerName">Signer Name</label>
        <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
               value="@ViewBag.Locals.DsConfig.SignerName" required>
    </div>
    <div class="form-group">
        <label for="brandId">Brand</label>
        @if (ViewBag.Brands == null)
        {
            @:<p>No brands were found for this account; please <a href="Eg028">create one</a> first.</p>
        }
        else
        {
            @Html.DropDownList("brandId", new SelectList(ViewBag.Brands, "BrandId", "BrandName"), new { @class = "form-control" })
        }
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    @if (ViewBag.Brands != null)
    {
        @:<button type="submit" class="btn btn-primary">Submit</button>
    }
</form>
