<h4>3. List envelopes whose status has changed</h4>
<p>This example lists the envelopes whose status has changes within the last 30 days.</p>
<p>This example demonstrates how to query DocuSign about envelopes sent by the current user.</p>

@if (@ViewBag.showDoc) {
   <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
}

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/liststatuschanges/">Envelopes::listStatusChanges</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg003ListEnvelopesController.cs</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="_csrf" value="@ViewBag.csrfToken">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>

