@model DocuSign.CodeExamples.ESignature.Models.CodeExampleText
<p>
    @if(Model.LinksToAPIMethod.Count == 1)
    {
        <span>@Html.Raw(ViewBag.SupportingTexts.APIMethodUsed)</span>
    } 
    else
    {
        <span>@Html.Raw(ViewBag.SupportingTexts.APIMethodUsedPlural)</span>
    }

    @for(int i = 0; i < Model.LinksToAPIMethod.Count; ++i)
    {
        <a target='_blank' href="@Model.LinksToAPIMethod[i].Path">@Html.Raw(Model.LinksToAPIMethod[i].PathName)</a>
        @if(i + 1 == Model.LinksToAPIMethod.Count)
        {
            <span></span>
        }
        else if(i + 1 == Model.LinksToAPIMethod.Count - 1)
        {
            <span> and </span>
        }
        else
        {
            <span>, </span>
        }
    }
</p>
