@{
    Layout = "_HomeLayout";
}
<div class="jumbotron">
    @Html.Raw(ViewBag.SupportingTexts.LoginPage.LoginHeader)
    <form class="eg" action="/ds/login" method="get" data-busy="form">
        @Html.DropDownList("authType", new SelectList(new Dictionary<string, string>
        {
            { "CodeGrant", "Authorization Code Grant" },
            { "JWT", "JWT (JSON Web Token)" }
        },
        "Key", "Value", "en"),
        new { @class = "form-control", @required = "required" })
        <br />
        <input type="submit" value="@ViewBag.SupportingTexts.LoginPage.LoginButton" class="btn btn-primary btn-lg" />
    </form>
    <hr class="my-4">
    <p>@Html.Raw(ViewBag.SupportingTexts.LoginPage.LoginHelperText)</p>
</div>