@model DocuSign.CodeExamples.Models.PermissionProfileModel

<h4>Permission profile</h4>
<form class="eg" asp-action="Create" method="post" data-busy="form">
    <div class="form-group">
        <label asp-for="ProfileName">Profile name</label>
        <input type="input" class="form-control" asp-for="ProfileName" placeholder="Profile name" required>
    </div>
    @Html.HiddenFor(Model => Model.ProfileId)
    @Html.HiddenFor(Model => Model.AccountRoleSettingsModel.AllowApiAccess)
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>