@{
    Layout = "_HomeLayout";
}

<div class="jumbotron">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1 class="display-4">C# Launcher</h1>
                    <p class="Xlead">
                        Welcome to the DocuSign C# examples using multiple OAuth flows (JWT and Authorization Code Grant)
                    </p>
                </td>
                <td>
                    <img src="/images/banner-code.PNG" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" style="margin-top: 40px" id="index-page">

    <h2>Rooms examples</h2>
    <partial name="../Eg01CreateRoomWithData/Shared/RoomListItem.cshtml" />
    <partial name="../Eg02CreateRoomFromTemplate/Shared/RoomListItem.cshtml" />
    <partial name="../Eg03ExportDataFromRoom/Shared/RoomListItem.cshtml" />
    <partial name="../Eg04AddingFormToRoom/Shared/RoomListItem.cshtml" />
    <partial name="../Eg05GetRoomsWithFilters/Shared/RoomListItem.cshtml" />
    <partial name="../Eg06CreateExternalFormFillSession/Shared/RoomListItem.cshtml" />
    <partial name="../Eg07CreateFormGroup/Shared/RoomListItem.cshtml" />
    <partial name="../Eg08GrantOfficeAccessToFormGroup/Shared/RoomListItem.cshtml" />
    <partial name="../Eg09AssignFormToFormGroup/Shared/RoomListItem.cshtml" />

    <!-- anchor-js is only for the index page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
    <script>anchors.options.placement = 'left'; anchors.add('h4')</script>
</div>
