@model DocuSign.CodeExamples.Controllers.Eg024PermissionCreateController
<h4>24. Create a permission profile</h4>
<p>
    This example creates a user group’s permission profile.
</p>

@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
}
<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/accounts/accountpermissionprofiles/create/">AccountPermissionProfiles::create</a>.
</p>

<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg024PermissionCreateController.cs</a> on GitHub.
</p>

<partial name="PermissionProfileView" model="Model.ProfileModel" />
