@model DocuSign.CodeExamples.Controllers.Eg024PermissionCreateController
<h4>24. Creates a new permission profile.</h4>
<p>
    This is a general example of creating an permission profile.
</p>

@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example.</p>
}
<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Accounts/AccountPermissionProfiles/create">AccountPermissionProfiles::create</a>.
</p>

<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg024PermissionCreateController.cs</a> on GitHub.
</p>

<partial name="PermissionProfileView" model="Model.ProfileModel" />
