<h4 id="example07">7. <a asp-action="Get" asp-controller="Eg07CreateFormGroupController" asp-area="Rooms">Assign a form to a form group</a></h4>
<p>
    This example demonstrates how to create a form group for your DocuSign Rooms for Real Estate account.
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms: GetRooms</a>,
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetDocuments">Rooms: GetDocuments</a>,
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Forms/ExternalFormFillSessions/CreateExternalFormFillSession">ExternalFormFillSessions: CreateExternalFormFillSession</a>.
</p>