<h4>4. Adds form to a room.</h4>
<p>
    Problem: This example is not available.
</p>
<p>
    DocuSign Forms is not enabled for this company. Please contact <a href='mailto:roomssandbox@docusign.com'>DocuSign Rooms Support</a> to enable Forms.
</p>
<a href="/" class="btn btn-primary">Continue</a>