@{
    Layout = "_HomeLayout";
}

<div class="jumbotron">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1 class="display-4">C# Launcher</h1>
                    <p class="Xlead">
                        Run and explore Click API code examples with Authorization Code Grant or JWT Grant authentication
                    </p>
                </td>
                <td>
                    <img src="/images/banner-code.PNG" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" style="margin-top: 40px" id="index-page">

    <h4 id="example01">1. <a asp-action="Get" asp-controller="CreateClickwrap" asp-area="Click">Create a clickwrap</a></h4>
    <p>
        Creates a clickwrap that you can embed in your website or app.
    </p>
    <p>
        API method used:
        <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/createclickwrap/">ClickWraps::createClickwrap</a>.
    </p>

    <h4 id="example02">2. <a asp-action="Get" asp-controller="ActivateClickwrap" asp-area="Click">Activate a clickwrap</a></h4>
    <p>
        Activates a new clickwrap that you have already created.
    </p>
    <p>
        API method used:
        <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/updateclickwrapversion/">ClickWraps::updateClickwrapVersion</a>.
    </p>


    <h4 id="example03">3. <a asp-action="Get" asp-controller="CreateNewClickwrapVersion" asp-area="Click">Create a new clickwrap version</a></h4>
    <p>
        Creates a new version of a clickwrap.
    </p>
    <p>
        API method used:
        <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/createclickwrapversion/">ClickWraps::createClickwrapVersion</a>.
    </p>

    <h4 id="example04">4. <a asp-action="Get" asp-controller="RetrieveClickwraps" asp-area="Click">Get a list of clickwraps</a></h4>
    <p>
        Gets a list of clickwraps associated with a specific DocuSign user.
    </p>
    <p>
        API method used:
        <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/getclickwraps/">ClickWraps::getClickwraps</a>.
    </p>

    <h4 id="example05">5. <a asp-action="Get" asp-controller="GetClickwrapResponses" asp-area="Click">Get clickwrap responses</a></h4>
    <p>
        Gets user responses to your clickwrap agreements.
    </p>
    <p>
        API method used:
        <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/getclickwrapagreements/">ClickWraps::getClickwrapAgreements</a>.
    </p>

    <!-- anchor-js is only for the index page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
    <script>anchors.options.placement = 'left'; anchors.add('h4')</script>
</div>
