<h4 id="example001">3. <a asp-action="Get" asp-controller="Eg03ExportDataFromRoom" asp-area="Rooms">Export data from a room</a></h4>
<p>
    This example exports data from a room
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms: GetRooms</a>,
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRoomFieldData">Rooms: GetRoomFieldData</a>.
</p>