@model DocuSign.CodeExamples.Rooms.Controllers.Eg07CreateFormGroupController

    <h4>7. Creates a form group</h4>
    <p>
        This is an example of creating a form group for your DocuSign Rooms for Real Estate account.
    </p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Forms/formgroups/createformgroup/">FormGroups: CreateFormGroup</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg07CreateFormGroupController.cs</a> on GitHub.
</p>

<partial name="Shared/CreateFromGroupView" model="Model.FormGroupModel" />
