@model DocuSign.CodeExamples.Click.Controllers.Eg05GetClickwrapResponsesController

<h4 id="example05">5. Get clickwrap responses</h4>
<p>
    Gets user responses to your clickwrap agreements.
</p>
<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/getclickwrapagreements">ClickWraps::getClickwrapAgreements</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg05GetClickwrapResponsesController.cs</a> on GitHub.
</p>

@if (ViewBag.ClickwrapId != null)
{
    <p>
        The clickwrap you created via example 1 will be queried.
    </p>

    <form class="eg" asp-action="Create" method="post" data-busy="form">
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


}
else
{
    <p>
        Problem: please first create a clickwrap using <a href="Eg01">example 1.</a> <br />
        Thank you.
    </p>

    <form class="eg" action="Eg01" method="get">
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
}
