@model DocuSign.CodeExamples.Rooms.Models.FormGroupModel

<form class="eg" asp-action="CreateFormGroup" method="post" data-busy="form">
    <div class="form-group">
        <label asp-for="Name">
            @Html.Raw(ViewBag.CodeExampleText.Forms[0].Inputs[0].InputName)
        </label>

        <input type="input" class="form-control" asp-for="Name" 
               placeholder="@ViewBag.CodeExampleText.Forms[0].Inputs[0].InputPlaceholder" required>
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.SubmitButton)</button>
</form>