<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
@Html.Raw(ViewBag.CodeExampleText.ExampleDescriptionExtended)

@if (ViewBag.showDoc) {
<p><a target='_blank' href='@ViewBag.documentation'>Documentation</a> about this example</p>
}

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
    View source file <a target="_blank" href="@ViewBag.source">GetCustomFields.cs</a> on GitHub.
</p>

@if (ViewBag.envelopeOk) {
<p>
    The last envelope you created with this example launcher will be queried.
    Recommendation: Create an envelope using <a href="eg016">Set tab values for a envelope</a> then use this example in order to see an example of custom tab values.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
} else {
<p>
    Problem: Please first create an envelope using <a href="eg016">Set tab values for a envelope</a>.
</p>

<form class="eg" action="eg016" method="get">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>

}
