@model DocuSign.CodeExamples.Click.Controllers.Eg04RetrieveClickwrapsController

<h4 id="example04">4. Retrieve Clickwraps</h4>
<p>
    This example shows how to get a list of clickwraps
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/getclickwraps/">ClickWraps::updateClickwrapVersion</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg04RetrieveClickwrapsController.cs</a> on GitHub.
</p>

<form class="eg" asp-action="Retrieve" method="post" data-busy="form">
    <h3>Retrieve all clickwraps</h3>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
