<h4>4. Get an envelope's basic information and status</h4>
<p>
    This example lists the basic information about an envelope, including its overall status. Additional API/SDK methods may be used to get additional information about the envelope, its documents, recipients, and more.
</p>

<p>
    This example demonstrates how to obtain the latest information about an envelope from DocuSign. Often an alternative is to use <a target='_blank' href="https://developers.docusign.com/platform/webhooks/connect/">Connect</a> to enable DocuSign to send your application updates proactively when the status of an envelope changes.
</p>

@if (ViewBag.showDoc) {
<p><a target='_blank' href='@ViewBag.documentation'>Documentation</a> about this example</p>
}

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/get/">Envelopes::get</a>.
</p>

<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg004EnvelopeInfoController.cs</a> on GitHub.
</p>

@if (ViewBag.envelopeOk) {
<p>The envelope you created via example 2 will be queried.</p>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="_csrf" value="@ViewBag.csrfToken">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>

} else { 
<p>
    Problem: please first create an envelope using <a href="eg002">example 2.</a> <br />
    Thank you.
</p>

<form class="eg" action="eg002" method="get">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
} 
