@model DocuSign.CodeExamples.Rooms.Models.RoomFormModel

<h4>Adding form to a room</h4>

@if (Model.Rooms.Any())
{
    <p>
        Please select a room and a form
    </p>
    <form class="eg" asp-action="ExportData" method="post" data-busy="form">
        <div class="form-group">
            <label for="docSelect">Rooms</label>
            <select class="custom-select" asp-for="RoomId" asp-items="@(new SelectList(Model.Rooms, "RoomId", "Name"))" required>
            </select>
        </div>
        <div class="form-group">
            <label for="docSelect">Forms</label>
            <select class="custom-select" asp-for="FormId" asp-items="@(new SelectList(Model.Forms, "LibraryFormId", "Name"))" required>
            </select>
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
    <p>
        Problem: please first create a room using <a href="eg01">example 1.</a> <br />
        Thank you.
    </p>
    <a href="/" class="btn btn-primary">Continue</a>
}