@model DocuSign.CodeExamples.Click.Controllers.Eg03TestClickwrapController

<h4 id="example03">3. Test Clickwrap</h4>
<p>
    This example shows how to test a newly activated clickwrap
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg03TestClickwrapController.cs</a> on GitHub.
</p>


@if (ViewBag.ClickwrapId != null)
{
    <p>
        Uses the clickwrap that was created in the first step.
    </p>


    <form class="eg" asp-action="Activate" method="post" data-busy="form">
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="button" onclick="OpenDocusignTester()" class="btn btn-primary">Test</button>
    </form>

    <script>
    function OpenDocusignTester() {
        window.open('https://developers.docusign.com/docs/click-api/test-clickwrap?a=@ViewBag.AccountId&cw=@ViewBag.ClickwrapId&eh=demo','_blank');
    }
    </script>


}
else
{
    <p>
        Problem: please first create a clickwrap using <a href="Eg01">example 1.</a> <br />
        Thank you.
    </p>

    <form class="eg" action="Eg01" method="get">
        <button type="submit" class="btn btn-primary">Continue</button>
    </form>
}
