@model DocuSign.CodeExamples.Click.Controllers.Eg02ActivateClickwrapController

<h4>2. @Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescriptionExtended)
</p>

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg02ActivateClickwrapController.cs</a> on GitHub.
</p>

@if (ViewBag.ClickwrapsData.Clickwraps.Count > 0) {
    <p>Please choose a clickwrap to activate</p>
    <form class="eg" asp-action="Activate" method="post" data-busy="form">
        <div class="form-group">
            <label for="clickwrapData">Clickwrap</label>
            <select class="custom-select" id="clickwrapData"
                    name="clickwrapData">
                @foreach (var clickwrap in ViewBag.ClickwrapsData.Clickwraps) {
                    <option value=@Html.Raw(clickwrap.ClickwrapId):@Html.Raw(clickwrap.VersionNumber)>@Html.Raw(clickwrap.ClickwrapName)</option>
                }
            </select>
        </div>
        <input type="hidden" name="_csrf" value="<%- csrfToken %>">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
} else { 
    <p class="">
        Problem: You do not have clickwraps to activate. Go to example#1 and create one: <a
            href="eg01">create clickwrap.</a> <br/>
    </p>
} 
