@model DocuSign.CodeExamples.Click.Controllers.Eg02ActivateClickwrapController

<h4 id="example02">2. Activate a clickwrap</h4>
<p>
    Activates a new clickwrap that you have already created. By default, new clickwraps are
    inactive. You must activate your clickwrap before you can use it.
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/updateclickwrapversion/">ClickWraps::updateClickwrapVersion</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg02ActivateClickwrapController.cs</a> on GitHub.
</p>

@if (ViewBag.ClickwrapId != null) {
<p>
    The clickwrap you created via example 1 will be queried.
</p>

<form class="eg" asp-action="Activate" method="post" data-busy="form">
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


} else { 
<p>
    Problem: please first create a clickwrap using <a href="Eg01">example 1.</a> <br />
    Thank you.
</p>

<form class="eg" action="Eg01" method="get">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
} 
