@model DocuSign.CodeExamples.Click.Controllers.Eg02ActivateClickwrapController

<h4 id="example02">2. Activate a clickwrap</h4>
<p>
    Activates a new clickwrap that you have already created. By default, new clickwraps are 
    inactive. You must activate your clickwrap before you can use it.
</p>
<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/click-api/reference/accounts/clickwraps/updateclickwrapversion/">ClickWraps::updateClickwrapVersion</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg02ActivateClickwrapController.cs</a> on GitHub.
</p>

@if (ViewBag.ClickwrapsData.Clickwraps != null) {
    <p>Please choose a clickwrap to activate</p>

    <form class="eg" action="" method="post" data-busy="form-download">
        <div class="form-group">
            <label for="clickwrap">Clickwrap</label>
            <select class="custom-select" id="clickwrap"
                    name="clickwrap">
                @foreach (var clickwrap in ViewBag.ClickwrapsData.Clickwraps) {
                    <option value=@Html.Raw(clickwrap.ClickwrapId):@Html.Raw(clickwrap.VersionNumber)>@Html.Raw(clickwrap.ClickwrapName)</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-docu">Submit</button>
    </form>
} else { 
    <p class="">
        Problem: You do not have clickwraps to activate. Go to example#1 and create one: <a
            href="{{ app_url ~ 'index.php?page=' }}ceg001">create clickwrap.</a> <br/>
    </p>
} 
