@model DocuSign.CodeExamples.Rooms.Controllers.Eg02CreateRoomFromTemplateController

<h4>2. Creates a new room from template.</h4>
<p>
    This is an example of creating an room with a template.
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Roles/Roles/GetRoles">Roles::GetRoles</a>,
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/CreateRoom">Rooms::CreateRoom</a> and
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/RoomTemplates/RoomTemplates/GetRoomTemplates">RoomTemplates::GetRoomTemplates</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg02CreateRoomFromTemplateController.cs</a> on GitHub.
</p>

<partial name="Shared/CreateRoomView" model="Model.RoomModel" />
