@model DocuSign.CodeExamples.Controllers.CreatePermissionProfile
<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescriptionExtended)
</p>

@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
}
<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 

<p>
    View source file <a target="_blank" href="@ViewBag.source">CreatePermissionProfile.cs</a> on GitHub.
</p>

<partial name="PermissionProfileView" model="Model.ProfileModel" />
