<h4>Send an envelope to an In Person Signer</h4>
<p>
   Demonstrates how to host an In Person Signing session with embedded signing.
<p>
@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='@ViewBag.documentation'>Documentation</a> about this example</p>
}

<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes:create</a>
    and
    <a target='_blank'
       href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopeviews/createrecipient/">EnvelopeViews:createRecipient</a>
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg039InPersonSigningController.cs</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="signerName">Signer Name</label>
        <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
               required />
    </div>
    <input type="hidden" name="_csrf" value="@ViewBag.csrfToken">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
