<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key="ClientId" value=""/>
	<add key="AuthServer" value=""/>
	<add key="ImpersonatedUserID" value=""/>
	<add key="PrivateKeyFile" value="..\..\..\private.key"/>
</appSettings>
</configuration>