@model DocuSign.CodeExamples.Rooms.Controllers.CreateRoomFromTemplate

<h4>2. @Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescription)
</p>

<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
    View source file <a target="_blank" href="@ViewBag.source">CreateRoomFromTemplate.cs</a> on GitHub.
</p>

<partial name="Shared/CreateRoomView" model="Model.RoomModel" />
