<h4 id="example001">2. <a asp-action="Get" asp-controller="Eg02CreateRoomFromTemplate" asp-area="Rooms">Create a room from template</a></h4>
<p>
    This example creates a room from a template
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Roles/Roles/GetRoles">Roles::GetRoles</a>,
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/CreateRoom">Rooms::CreateRoom</a> and 
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/RoomTemplates/RoomTemplates/GetRoomTemplates">RoomTemplates::GetRoomTemplates</a>.
</p>