@model DocuSign.CodeExamples.Rooms.Controllers.Eg01CreateRoomWithDataController

<h4>1. Creates a new room from data.</h4>
<p>
    This is a general example of creating a room.
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Roles/Roles/GetRoles">Roles::GetRoles</a> and
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/CreateRoom">Rooms::CreateRoom</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg01CreateRoomsWithDataController.cs</a> on GitHub.
</p>

<partial name="Shared/CreateRoomView" model="Model.RoomModel" />
