@model DocuSign.CodeExamples.Controllers.Eg002WebQueryEndpointController

<h4>2. Query monitoring data with filters</h4>
<p>Demonstrates how to query an organization's data based on specified filters and aggregations.</p>
<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/postwebquery/">DataSet:postWebQuery</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">WebQueryEndpoint.cs</a> on GitHub.
</p>

<partial name="Shared/GetFilteredMonitorView" model="Model.MonitorFilterModel" />