<h4 id="example05">7. Retrieve the user's DocuSign profile using a User ID</h4>
<p>
<p>Demonstrates how to obtain the user’s DocuSign profile information across all DocuSign accounts by specifying the user’s User ID</p>
</p>
<p>
    API method used:
    <a target="_blank" rel='noopener noreferrer' 
        href="https://developers.docusign.com/docs/admin-api/reference/usermanagement/multiproductusermanagement/getuserdsprofile/">MultiProductUserManagement:getUserDSProfile</a>
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">RetrieveDocuSignProfileByUserId.cs</a> on GitHub.
</p>

<form class="eg" asp-action="RetriveProfileById" method="post" data-busy="form">
    <div class="form-group">
        <label for="userId">User ID</label>
        <input type="text" class="form-control" id="userId" name="userId"
               placeholder="00000000-0000-0000-0000-000000000000" required
               pattern="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}">
    </div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
