<h2>@ViewBag.h1</h2>
<p>@Html.Raw(ViewBag.message)</p>
<p>
    Agreement URL received back from API call: 
    <code>
        @ViewBag.AgreementUrl
    </code>
</p>

<p id="agreementStatus">
    NOT AGREED
</p>

<div id="ds-terms-of-service"></div>
<script src="https://stage.docusign.net/clickapi/sdk/latest/docusign-click.js"></script>
<script>
    docuSignClick.Clickwrap.render({
        agreementUrl: "@ViewBag.AgreementUrl",
        onAgreed: function () {
            // Triggered if the user has just agreed
            document.getElementById("agreementStatus").innerHTML = "AGREED!";
        }
    }, "#ds-terms-of-service");
</script>