@using Microsoft.AspNetCore.Html
@functions
{ 
    IHtmlContent GetTextInputMarkup(string id, string title, string type)
    {
        return Html.Raw($@"
<div class='form-group'>
    <label for= '{id}'>{title}</label >
    <input type = '{type}' name = '{id}' id = '{id}' placeholder = '{title}' required class='form-control'/>
</div>");
    } 
}

<h4>33. Unpause a signature workflow</h4>

<p>
    This example resumes a signature workflow for an envelope whose workflow has been paused.
</p>

@if (ViewBag.showDoc)
{
<p><a target="_blank" href="@ViewBag.documentation">Documentation</a> about this example</p>}

<p>
    API method used:
    <a target="_blank" href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/update/">Envelopes::update</a>.
</p>

<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg033UnpauseSignatureWorkflowController.cs</a> on GitHub.
</p>

@if (ViewBag.pausedEnvelopeOk) {
<form action="" class="eg" method="post" data-busy="form">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
}else {
<p>
    Prerequisite: Please first create an envelope with a paused signature workflow using <a href="eg032">example 32</a>.
</p>

<form class="eg" action="eg032" method="get">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>
}