
<h4>Request a signature by SMS delivery</h4>
<p>
    Sends a signature request via an SMS message.
</p>

@if (ViewBag.showDoc == true)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example</p>
}

<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopes/create/">Envelopes::create</a>.
</p>

<p>
    View source file <a target="_blank" href="@ViewBag.source">SMSDelivery.cs</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <div class="form-group">
        <label for="signerCountryCode">Signer Country Code</label>
        <input type="number" class="form-control" id="signerCountryCode" name="signerCountryCode"
               aria-describedby="countryCodeHelp" placeholder="1" required />
        <small id="countryCodeHelp" class="form-text text-muted">The country code for the phone number below.</small>
    </div>
    <div class="form-group">
        <label for="signerPhoneNumber">Signer Phone Number</label>
        <input type="tel" class="form-control" id="signerPhoneNumber" name="signerPhoneNumber"
               aria-describedby="phoneNumberHelp" placeholder="415-555-1212" required />
        <small id="phoneNumberHelp" class="form-text text-muted">This phone number will receive a notification. We'll never share your phone number.</small>
    </div>
    <div class="form-group">
        <label for="signerName">Signer Name</label>
        <input type="text" class="form-control" id="signerName" placeholder="Pat Johnson" name="signerName"
               value="@ViewBag.Locals.DsConfig.SignerName" required />
    </div>
    <div class="form-group">
        <label for="ccCountryCode">CC Country Code</label>
        <input type="number" class="form-control" id="ccCountryCode" name="ccCountryCode"
               aria-describedby="countryCodeHelp" placeholder="1" required />
        <small id="countryCodeHelp" class="form-text text-muted">The country code for the phone number below.</small>
    </div>
    <div class="form-group">
        <label for="ccPhoneNumber">CC Phone Number</label>
        <input type="tel" class="form-control" id="ccPhoneNumber" name="ccPhoneNumber"
               aria-describedby="phoneNumberHelp" placeholder="415-555-1212" required />
        <small id="phoneNumberHelp" class="form-text text-muted">This phone number will receive a notification. We'll never share your phone number.</small>
    </div>
    <div class="form-group">
        <label for="ccName">CC Name</label>
        <input type="text" class="form-control" id="ccName" placeholder="Pat Johnson" name="ccName"
               required />
    </div>
    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
