@model DocuSign.CodeExamples.Rooms.Controllers.Eg03ExportDataFromRoomController

<h4>3. @Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescriptionExtended)
</p>
<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg03ExportDataFromRoomController.cs</a> on GitHub.
</p>

<partial name="Shared/ExportDataView" model="Model.RoomsListModel" />
