@model DocuSign.CodeExamples.Rooms.Controllers.Eg03ExportDataFromRoomController

<h4>3. Exports data from a room.</h4>
<p>
    This is an example of exporting data from a room.
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRooms">Rooms: GetRooms</a>,
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/GetRoomFieldData">Rooms: GetRoomFieldData</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg03ExportDataFromRoomController.cs</a> on GitHub.
</p>

<partial name="Shared/ExportDataView" model="Model.RoomsListModel" />
