<h4 id="example001">1. <a asp-action="Get" asp-controller="Eg01CreateRoomWithData" asp-area="Rooms">Create a room with data</a></h4>
<p>
    This example creates a room using specified data
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Roles/Roles/GetRoles">Roles::GetRoles</a> and
    <a target='_blank' href="https://developers.docusign.com/rooms-api/reference/Rooms/Rooms/CreateRoom">Rooms::CreateRoom</a>.
</p>