@model DocuSign.CodeExamples.Rooms.Controllers.Eg09AssignFormToFormGroupController

<h4>9. @Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>
<p>
    @Html.Raw(ViewBag.CodeExampleText.ExampleDescriptionExtended)
</p>
<partial name="../../../Views/Shared/LinkToMethodView" model="ViewBag.CodeExampleText" /> 
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg09AssignFormToFormGroupController.cs</a> on GitHub.
</p>

<partial name="Shared/SelectFromAndFormGroupView" model="Model.FormFormGroupModel" />