@model DocuSign.CodeExamples.Rooms.Controllers.Eg09AssignFormToFormGroupController

    <h4>9. Assigns a form to a form group</h4>
<p>
    This is an example of assigning a form to a form group
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups/">FormGroups: GetFormGroups</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formlibraries/getformlibraryforms/">FormLibraries: GetFormLibraryForms</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/assignformgroupform/">FormGroups: AssignFormGroupForm</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">Eg09AssignFormToFormGroupController.cs</a> on GitHub.
</p>

<partial name="Shared/SelectFromAndFormGroupView" model="Model.FormFormGroupModel" />