@{
    Layout = "_HomeLayout";
}
    <div class="jumbotron">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h1 class="display-4">C# Launcher</h1>
                        <p class="Xlead">
                            Welcome to the DocuSign C# examples JWT OAuth flow for the DocuSign Monitor API
                        </p>
                    </td>
                    <td>
                        <img src="/images/banner-code.PNG" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container" style="margin-top: 40px" id="index-page">

        <h2>Monitor examples</h2>

        <h4 id="monitorExample001">1. <a href="/monitorExample001">Get monitoring data</a></h4>
        <p>
            This topic demonstrates how to get and display all of your organization’s monitoring data.
        </p>
        <p>API method used:
            <a target ='_blank' rel='noopener noreferrer' href='https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/getstream/'>DataSet:getStream</a>
        </p>

        <h4 id="monitorExample002">2. <a href="/monitorExample002">Post web query</a></h4>
        <p>
            This topic demonstrates how to query an organization's data based on specified filters and aggregations.
        </p>
        <p>
            API method used:
            <a target='_blank' href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/postwebquery/">DataSet:postWebQuery</a>.
        </p>

        <!-- anchor-js is only for the index page -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
        <script>anchors.options.placement = 'left'; anchors.add('h4')</script>
    </div>
