<h4>1. Get monitoring data</h4>
<p>Demonstrates how to get and display all of your organization’s monitoring data.</p>

@if (@ViewBag.showDoc)
{
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> about this example.</p>
}


<p>
    API method used:
    <a target='_blank' href="https://developers.docusign.com/docs/monitor-api/reference/monitor/dataset/getstream/">DataSet:getStream</a>.
</p>
<p>
    View source file <a target="_blank" href="@ViewBag.source">GetMonitoringData.cs</a> on GitHub.
</p>

<form class="eg" action="" method="post" data-busy="form">
    <input type="hidden" name="_csrf" value="@ViewBag.csrfToken">
    <button type="submit" class="btn btn-primary">Continue</button>
</form>