<h4>@Html.Raw(ViewBag.CodeExampleText.ExampleName)</h4>

<p>
    @Html.Raw(ViewBag.ConsentLink)
</p>

<form class="eg" action="mae001" method="get">
    <button type="submit" class="btn btn-primary">@Html.Raw(ViewBag.SupportingTexts.ContinueButton)</button>
</form>
