<h4 id="example09">9. <a asp-action="Get" asp-controller="Eg09AssignFormToFormGroup" asp-area="Rooms">Assign a form to a form group</a></h4>
<p>
    This is an example of assigning a form to a form group
</p>
<p>
    API methods used:
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/getformgroups/">FormGroups: GetFormGroups</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formlibraries/getformlibraryforms/">FormLibraries: GetFormLibraryForms</a>,
    <a target='_blank' href="https://developers.docusign.com/docs/rooms-api/reference/forms/formgroups/assignformgroupform/">FormGroups: AssignFormGroupForm</a>.
</p>